<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Website Builder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link rel="shortcut icon" type="image/ico" href="/public/images/resume-clipart-2.png">
  <style>
  </style>
</head>

<body>
  <header>
    <div class="header1"><a href="login">Login</a></div>
    <div class="header2"><a href="questionaire">Questionaire</a></div>
  </header>
  <div class="form-style-5">
    <form name="initialForm" action="/users/userInfo" method="POST" enctype="multipart/form-data">
      <fieldset id="fieldset1">
        <legend><span class="number">1</span> User Info</legend>
        <input type="text" name="actualname" id="username" placeholder="Your Name *">
        <input type="email" name="email" id="email" placeholder="Your Email *">
        <textarea name="about_me" placeholder="About yourself"></textarea>

        <input id="uploadResId" type="file" name="resume" hidden />
        <input id="resId" type="button" value="Upload Resume" />
        <input id="uploadVidId" type="file" name="projectvid" hidden />
        <input id="vidId" type="button" value="Upload Project Videos" />
        <input id="uploadPicId" type="file" name="profilepic" hidden />
        <input id="picId" type="button" value="Add Your Profile Picture" />

        <legend><span class="number">2</span> User Skills</legend>
        <div id="skillsField">
          <!-- <label for="job">Skill:</label> -->
          <select class="skill" name="skills">
            <optgroup label="Skills">
              <option value="JavaScript">JavaScript</option>
              <option value="HTML">HTML5</option>
              <option value="CSS">CSS</option>
              <option value="Java">Java</option>
              <option value="Python">Python</option>
              <option value="C#">C#</option>
              <option value="PHP">PHP</option>
              <option value="Other">Other</option>
            </optgroup>
            <optgroup label="Tools">
              <option value="Docker">Docker</option>
              <option value="Git">Git</option>
              <option value="Vim">Vim</option>
              <option value="Linux">Linux</option>
              <option value="MSSQL">MSSQL</option>
              <option value="Selenium">Selenium</option>
              <option value="NPM">NPM</option>
              <option value="Other">Other</option>
  
            </optgroup>
          </select>
        </div>
      </fieldset>
      <input id="newSkill" type="button" value="Add Skill">
      <fieldset>
        <legend><span class="number">3</span> Additional Info</legend>
        <textarea name="additionalinfo" placeholder="About Your School"></textarea>
      </fieldset>
      <input type="submit" value="Generate Website" id="submit" />
    </form>
  </div>
  <footer></footer>
</body>
<script src="/public/javascripts/uploadscript.js"></script>
<script src="/public/javascripts/skills.js"></script>

</html>